 <app-nav-general></app-nav-general>
<div class="container">
    <div class="row justify-content-center">
            <div class="page-header">
                <h1 style="text-align: center;">Sign Up</h1>
            </div>
    </div>
    <form>
        <div class="row justify-content-center">
            <div class="col-md-6 p-4">
                <fieldset>
                    <div class="row justify-content-center" >
                        <img src="assets/adminform.svg" style="width: 230px; margin-bottom: 10px"alt="No Image">
                    </div>
                <div class="form-group">
                    <input name = "nombre" type="text" class="form-control" id="inputNombre" placeholder="Nombre">
                </div>
                <div class="form-group">
                    <input  name = "apellido" type="text" class="form-control" id="inputApellido" placeholder="Apellido">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="DPI" >
                </div>
                <div class="form-group">
                    <input  name = "correo" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Correo Electronico" required>
                </div>
                
                <div class="form-group">
                    <input type="text" placeholder="Direccion" class="form-control">
                </div>
                <div class="form-group">
                    <input type="password" class="form-control"placeholder="Contraseña">
                </div>
                <div class="form-group">
                    <input  type="password" class="form-control" placeholder=" Reescriba su contaseña">
                </div>
                
                <div class="form-group">
                    <a type="submit"  class="card-link btn btn-primary btn-lg btn-block">Registrarse</a>
                </div>
                <div class="alert alert-dismissible alert-success" role="alert">
                    
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                </fieldset>
            </div>
        </div>
      </form>
</div>